body{
    font-size: 16px;
    color: #ffffff;
    background-color: #91b2f8;
}

*{
    box-sizing: border-box;
}

.cursor-pointer:hover {
    cursor: pointer;
    color: #3366db;
}
li.nav-item:hover{
    background-color: rgba(255, 255, 255, 1);
}
a.nav-link:hover{
    color: rgba(51, 102, 219, 1);
}

a.nav-link{
    color: white;
}