{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
    <h2 class="text-center text-primary mt-5">{{ title }}</h2>
    {% for post in posts %}
        <hr/>
        <div class="col-md-12">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <h5 class="card-text fw-normal">{{ post.description }}</h5>
                    <span class="fs-6">{{ post.posted }}</span>
                    <p><a href="{% url 'blogpost' parametr=post.id %}">ЧИТАТЬ ДАЛЕЕ</a></p>
                </div>
            </div>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}