{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
    <div class="d-flex">
    <div class="d-flex flex-column text-secondary mt-5 w-25 border border-2 rounded border-primary pt-2">
        <h5 class=" py-1 px-3 cursor-pointer">Все товары</h5>
        <h5 class=" py-1 px-3  cursor-pointer">Смартфоны</h5>
        <h5 class=" py-1 px-3  cursor-pointer">Ноутбуки</h5>
        <h5 class=" py-1 px-3  cursor-pointer">Планшеты</h5>
    </div>
    <div class="row mt-5 d-flex w-100 justify-content-center">
        <div class="col-md-4">
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
            <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}