{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center mt-5">
        <div class=" text-center">
            <h3 class="text-primary">Контакты</h3>
            <p class="text-black fs-5"><span class="text-primary">Директор:</span> Петров Дмитрий Анатольевич</p>
            <p class="text-black fs-5"><span class="text-primary">Адрес:</span> г. Москва, Ленина, д. 10</p>
            <p class="text-black fs-5"><span class="text-primary">Телефон:</span> +7960-888-77-77</p>
            <p class="text-black fs-5"><span class="text-primary">Почта:</span> car-shop@gmail.com</p>
        </div>
    </div>
{% endblock %}