{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center flex-column mt-5">
            <h3 class="text-black">Ресурсы:</h3>
            <a href="https://www.mitsubishi-motors.ru/" class="text-black text-decoration-none"><img src="" alt="">Mitsubishi</a>
            <a href="https://www.bmw.ru/ru/all-models.html" class="text-black text-decoration-none"><img src="" alt="">BMW</a>
            <a href="https://renault-avtomir.ru/" class="text-black text-decoration-none"><img src="" alt="">Renault</a>
    </div>
{% endblock %}