{% extends 'app/layout.html' %}
{% load static %}
{% block content %}
    <style>
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            filter: invert(100%);
        }
    </style>
    <h1 class="d-flex justify-content-center mt-5 text-black">CARshop</h1>
    <div class="d-flex justify-content-center mb-4">
        <div class=" border-bottom border-primary border-4" style="width: 200px;"></div>
    </div>
        <h3 class="d-flex justify-content-center my-3 text-black">Популярные товары</h3>

    <div id="carouselExample" class="carousel slide mt-5">
        <div class="carousel-inner">
            <div class="carousel-item active">
                 <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
            </div>
            <div class="carousel-item ">
                 <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
            </div>
            <div class="carousel-item ">
                 <div class="card bg-primary mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-center border border-3 rounded border-white">
                        <img class="rounded" src="{% static 'app/ac-schnitzer-bmw-x6-f16-bmv.jpg' %}"
                             width="300" height="200" alt="product">
                    </div>
                    <div class="text-center mt-2">
                        <h5 class="card-title text-white">Машина BMW белая</h5>
                        <div class="d-flex justify-content-between align-items-center px-2">
                            <p class="card-text text-white m-0">Цена: 1000$</p>
                        <button type="button" class="btn btn-light text-primary bg-white border border-info-emphasis p-1">В корзину</button>
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden invert-color">Next</span>
        </button>
    </div>
    <div class="d-flex mt-3 px-5 w-100">
        <a class=" ms-auto" href={% url 'catalog' %}>
         <button type="button" class="btn btn-light text-white bg-primary border border-info-emphasis py-1 px-5 ">Перейти в каталог</button>
        </a>
    </div>
{% endblock %}